.App {
  text-align: center;
}

.ui.main.container {
  margin-top: 3em;
}

.top-bar {
  margin-bottom: 2em;
  font-size: 20px;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
}

.title {
  font-weight: 700;
  color: azure;
}

.menu-item-title {
  font-weight: 500;
  text-align: center;
}

.spacer {
  margin-top: 5em;
}